In [1]:
from pandas_datareader import data as web
import pandas as pd
import numpy as np

start_date = '2010-01-01'
company_arr = ['035420.KS', '067160.KQ'] 
df1 = web.DataReader(company_arr[0], 'yahoo', start_date)
df2 = web.DataReader(company_arr[1], 'yahoo', start_date)

In [2]:
df1.head(20)

                Open      High       Low     Close      Adj Close  Volume
Date
2010-01-04  232887.0  237177.0  231661.0  236564.0  234322.890625  194862
2010-01-05  234726.0  240241.0  232887.0  236564.0  234322.890625  184080
2010-01-06  236564.0  241467.0  235339.0  235339.0  233109.500000  256739
2010-01-07  235951.0  240241.0  234113.0  235951.0  233715.703125  146797
2010-01-08  235951.0  239016.0  227984.0  227984.0  225824.187500  177061
2010-01-11  226758.0  231048.0  221856.0  224920.0  222789.218750  300344
2010-01-12  227984.0  235339.0  226758.0  235339.0  233109.500000  281465
2010-01-13  232274.0  235339.0  225533.0  229210.0  227038.578125  172325
2010-01-14  227371.0  230436.0  223694.0  223694.0  221574.828125  257735
2010-01-15  223694.0  225533.0  219404.0  221856.0  219754.234375  247310
2010-01-18  221856.0  229823.0  221856.0  228597.0  226431.390625  190125
2010-01-19  231048.0  235339.0  224920.0  227371.0  225217.000000  196512
2010-01-20  229210.0  229823.0  221856.0  227984.0  225824.187500  176581
2010-01-21  225533.0  232887.0  224920.0  231661.0  229466.359375  188943
2010-01-22  228597.0  229823.0  223081.0  226146.0  224003.593750  212711
2010-01-25  223081.0  230436.0  222468.0  230436.0  228252.953125  155441
2010-01-26  229823.0  231048.0  225533.0  229210.0  227038.578125  201910
2010-01-27  228597.0  230436.0  224920.0  226758.0  224609.796875  142701
2010-01-28  226146.0  232274.0  221856.0  223081.0  220967.625000  197249
2010-01-29  222468.0  223694.0  208373.0  212050.0  210041.140625  297562

In [19]:
open_weekly = df1['Open'].resample('W').first()
close_weekly = df1['Close'].resample('W').last()
high_weekly = df1['High'].resample('W').max()
low_weekly = df1['Low'].resample('W').min()
price_weekly = df1['Adj Close'].resample('W').mean()
df_weekly = pd.concat([open_weekly, high_weekly, low_weekly, close_weekly, price_weekly], axis=1)

In [20]:
df_weekly.head()

                Open      High       Low     Close      Adj Close
Date
2010-01-10  232887.0  241467.0  227984.0  227984.0  232259.034375
2010-01-17  226758.0  235339.0  219404.0  221856.0  224853.271875
2010-01-24  221856.0  235339.0  221856.0  226146.0  226188.506250
2010-01-31  223081.0  232274.0  208373.0  212050.0  222182.018750
2010-02-07  211437.0  213276.0  200405.0  204695.0  204577.393750

In [34]:
price_ewm = df_weekly['Adj Close'].ewm(com=20)
ewm_mean = price_ewm.mean()
ewm_std = price_ewm.std()

In [42]:
tmp = np.sqrt(10)*(df_weekly['Adj Close'] - ewm_mean)/ewm_std

In [43]:
tmp.describe()

C:\Program Files\Anaconda3\lib\site-packages\numpy\lib\function_base.py:4116: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

count    410.000000
mean       1.487546
std        2.841596
min       -5.699917
25%             NaN
50%             NaN
75%             NaN
max        9.224394
Name: Adj Close, dtype: float64